In [1]:
import pandas as pd
import re
from tqdm import tqdm

In [2]:
train_df = pd.read_csv("daily_train.csv")
val_df = pd.read_csv("daily_val.csv")

In [4]:
train_df.isnull().sum()

idx             0
class           0
conversation    1
dtype: int64

In [5]:
train_df = train_df.dropna()
train_df = train_df.reset_index().reset_index()
train_df = train_df[['level_0', "class", "conversation"]]
train_df.rename(columns={"level_0": "idx"}, inplace=True)
train_df

         idx class                                       conversation
0          0  일상대화  오늘 네이버 멤버십 데이 키키\n아 키키 네이버 멤버십 데이면 뭐가 좋은데 키키\n...
1          1  일상대화  평소에 대중교통은 자주 타는 편이에요?\n지하철 버스 자주 이용해요! 편해요\n버스...
2          2  일상대화  요즘 너무 볼 게 없어서 심심하노...\n앗 그래? 그럼 나 뭐 하나 추천해도 되나...
3          3  일상대화  ** 언니가 골프 완전 프로 수준이래\n와 진짜 대박? 하하\n키키 악 그 정도는 ...
4          4  일상대화  진짜 결국 일이 터져버렸네...\n무슨 일?\n뭐가 결국 터져버렸는데?\n명절 후 ...
...      ...   ...                                                ...
87684  87684  일상대화  너 가수 fun 알아?\n오 알지 많이 들어보긴 했어\n나는 맨처음에 한 사람인 줄...
87685  87685  일상대화  생각보다 동대문 나들이가 밋밋해지네\n왜 키키 별로 재미없어?\n아기는 아직까지는 ...
87686  87686  일상대화  날이 정말 추워서 집에만 있어야 할 것 같아\n맞아 벌써 영하권 가까이 돌입해서 너...
87687  87687  일상대화  요즘 핑크뮬리 다시 시작됐던데 가봤어?\n헐 진짜!?! 대박 ㅜㅜ 핑크뮬리라니\n단...
87688  87688  일상대화  요즘 웹툰 추천 좀 해줘\n웹툰하면 나혼자 레벌업 아닌가?\n그건 이미 봤어 다른건...

[87689 rows x 3 columns]

In [6]:
for i in tqdm(range(len(train_df))):
    train_df['conversation'].iloc[i] = re.sub('[*]{1,}', '<oov>', train_df['conversation'].iloc[i])

  0%|          | 0/87689 [00:00<?, ?it/s]/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
100%|██████████| 87689/87689 [01:18<00:00, 1121.65it/s]

### 확인

In [7]:
train_df[train_df['conversation'].str.contains('\*')]

Empty DataFrame
Columns: [idx, class, conversation]
Index: []

### validation oov 처리

In [8]:
for i in tqdm(range(len(val_df))):
    val_df['conversation'].iloc[i] = re.sub('[*]{1,}', '<oov>', val_df['conversation'].iloc[i])

  0%|          | 0/10962 [00:00<?, ?it/s]/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
100%|██████████| 10962/10962 [00:04<00:00, 2197.54it/s]

### 확인

In [9]:
val_df[val_df['conversation'].str.contains('\*')]

Empty DataFrame
Columns: [idx, class, conversation]
Index: []

### 저장

In [10]:
train_df.to_csv("daily_train(oov).csv", index=False)
val_df.to_csv("daily_val(oov).csv", index=False)

### 불러오기

In [11]:
train_oov = pd.read_csv("daily_train(oov).csv")
val_oov = pd.read_csv("daily_val(oov).csv")

---

### 확인

In [12]:
train_oov

         idx class                                       conversation
0          0  일상대화  오늘 네이버 멤버십 데이 키키\n아 키키 네이버 멤버십 데이면 뭐가 좋은데 키키\n...
1          1  일상대화  평소에 대중교통은 자주 타는 편이에요?\n지하철 버스 자주 이용해요! 편해요\n버스...
2          2  일상대화  요즘 너무 볼 게 없어서 심심하노...\n앗 그래? 그럼 나 뭐 하나 추천해도 되나...
3          3  일상대화  <oov> 언니가 골프 완전 프로 수준이래\n와 진짜 대박? 하하\n키키 악 그 정...
4          4  일상대화  진짜 결국 일이 터져버렸네...\n무슨 일?\n뭐가 결국 터져버렸는데?\n명절 후 ...
...      ...   ...                                                ...
87684  87684  일상대화  너 가수 fun 알아?\n오 알지 많이 들어보긴 했어\n나는 맨처음에 한 사람인 줄...
87685  87685  일상대화  생각보다 동대문 나들이가 밋밋해지네\n왜 키키 별로 재미없어?\n아기는 아직까지는 ...
87686  87686  일상대화  날이 정말 추워서 집에만 있어야 할 것 같아\n맞아 벌써 영하권 가까이 돌입해서 너...
87687  87687  일상대화  요즘 핑크뮬리 다시 시작됐던데 가봤어?\n헐 진짜!?! 대박 ㅜㅜ 핑크뮬리라니\n단...
87688  87688  일상대화  요즘 웹툰 추천 좀 해줘\n웹툰하면 나혼자 레벌업 아닌가?\n그건 이미 봤어 다른건...

[87689 rows x 3 columns]

In [15]:
train_oov[train_oov['conversation'].str.contains('\*')]

Empty DataFrame
Columns: [idx, class, conversation]
Index: []

---

### 확인

In [13]:
val_oov

         idx class                                       conversation
0          0  일상대화  갯마을 차차차 다 봤나 저번 주 꺼까지 ㅠ 나 아껴 두는 중\n야 나도 하나 남아서...
1          1  일상대화  요즘 비가 자주 와서 그런지 관절이 쑤시네 ㅜ\n나이 먹었나 봐 ㅜ\n나는 아직 못...
2          2  일상대화  여보는 여보네 오빠랑 자취했었지?\n응 어렸을 때 그렇게 했었지.\n그때 여보 동생...
3          3  일상대화  모가디슈 요새 핫하대... 키키 영화 봤나?\n오 ㅠ 아니 안 그래도 보고 싶었는데...
4          4  일상대화  요즘 인테리어 많이 한다던데 다들 집에만 있어서 그런가 집 소중…\n요즘 집에만 박...
...      ...   ...                                                ...
10957  10957  일상대화  요즘에 반려동물 용품이 진짜 비싼 거 같아 ㅜㅜ\n맞아... 펫텍스 무시 못하는 것...
10958  10958  일상대화  지금 회사 점심시간이지? 밥 먹었어?\n언니 나 지금 집이야!！키키 나 재택 근무 ...
10959  10959  일상대화  오늘 점심 메뉴는 뭐 먹었어 키키\n오늘 너무 바빠서 점심을 못 먹었어...! 감자...
10960  10960  일상대화  나 성형하고 싶은 곳이 있어\n어디 하고 싶은 거니?\n코랑 이마 하고 싶어\n코는...
10961  10961  일상대화  이번 집은 주차는 어때 괜찮아?\n한 집당 한 대씩 대는 거라 주차는 가능해 키키 ...

[10962 rows x 3 columns]

In [14]:
val_oov[val_oov['conversation'].str.contains('\*')]

Empty DataFrame
Columns: [idx, class, conversation]
Index: []