In [1]:
import glob
import pandas as pd
import re
import os

###  위치 설정 바람

In [2]:
train_path = os.getenv('HOME') + "/aiffel/abc/train_ori/TS_01. KAKAO(1)"

In [3]:
train_path

'/aiffel/aiffel/abc/train_ori/TS_01. KAKAO(1)'

In [3]:
def make_table(txt_path):
    files = glob.glob(txt_path + "/*.txt")  
    
    df =  pd.DataFrame(index=range(0,len(files)), columns=['idx', 'class','conversation'])
    i = 0
    for file in files:
        f = open(file, 'r', encoding="UTF-8")
        line = f.readlines()
        df['idx'][i] = i
        df['class'][i] = '일상대화'
        df['conversation'][i] = line
        
        i += 1
    
    return df

In [4]:
df = make_table(train_path)
df

         idx class                                       conversation
0          0  일상대화  [1 : 핸드폰 앱 중에 제일 자주 사용하는 게 뭐야? sn s빼고\n, 2 : 나...
1          1  일상대화  [1 : 겨울에 눈 오는 거 좋아해?\n, 2 : 눈 오는 거 이쁘고 좋지 키키 춥...
2          2  일상대화  [1 : 언니는 여행 다니는 거 좋아해?\n, 2 : 엄청 좋아해 특히 즉흥 여행!...
3          3  일상대화  [1 : 나도 다시 다이어트를 시작해볼까~ 요즘 너무 먹네\n, 2 : 너 살 많이...
4          4  일상대화  [1 : 키키 우리 그러면 귀여워지기 위해 등산 가장 하하\n, 2 : 등산을 하면...
...      ...   ...                                                ...
17995  17995  일상대화  [1 : 너네는 해리포터 영화로 다 봤어?\n, 2 : 어어! 당연히 봤지!\n, ...
17996  17996  일상대화  [1 : 10월 1일이 국군의 날이었대 키키\n, 알지\n, 2 : 10월 1일 국...
17997  17997  일상대화  [1 : 아 요즘 잠을 좀 많이 잤더니 피부가 좋아졌어\n, 2 : 키키 나는 요즘...
17998  17998  일상대화  [1 : 트럼프가 왜 난리지?\n, 2 : 트럼프 ?\n, 2 : 트럼프 무슨 짓 ...
17999  17999  일상대화  [1 : 아 진짜 가을만 되면 왜 이렇게 옆구리가 시리냐 키키\n, 2 : 연애를 ...

[18000 rows x 3 columns]

In [5]:
# df['conversation'][0][1][4:]

In [9]:
len("3 : ")

4

In [7]:
len('1 : ')

4

In [5]:
for i in range(len(df['conversation'])):
    for j in range(len(df['conversation'][i])):
        df['conversation'][i][j] = df['conversation'][i][j][4:]
        df['conversation'][i][j] = df['conversation'][i][j].replace('1 : ',"")
        df['conversation'][i][j] = df['conversation'][i][j].replace('2 : ',"")
        df['conversation'][i][j] = df['conversation'][i][j].replace('3 : ',"")

    df['conversation'][i] = ''.join(df['conversation'][i])

In [7]:
df

         idx class                                       conversation
0          0  일상대화  핸드폰 앱 중에 제일 자주 사용하는 게 뭐야? sn s빼고\n나 요즘 당근마켓을 제...
1          1  일상대화  겨울에 눈 오는 거 좋아해?\n눈 오는 거 이쁘고 좋지 키키 춥지만\n근데 너무 오...
2          2  일상대화  언니는 여행 다니는 거 좋아해?\n엄청 좋아해 특히 즉흥 여행!\n헐?! 즉흥 여행...
3          3  일상대화  나도 다시 다이어트를 시작해볼까~ 요즘 너무 먹네\n너 살 많이 빠졌던데 더 빼려고...
4          4  일상대화  키키 우리 그러면 귀여워지기 위해 등산 가장 하하\n등산을 하면 더러워지는 것밖에 ...
...      ...   ...                                                ...
17995  17995  일상대화  너네는 해리포터 영화로 다 봤어?\n어어! 당연히 봤지!\n난 아즈카반의 죄수 넘 ...
17996  17996  일상대화  10월 1일이 국군의 날이었대 키키\n10월 1일 국군의 날 키키\n국군의 날에 국...
17997  17997  일상대화  아 요즘 잠을 좀 많이 잤더니 피부가 좋아졌어\n키키 나는 요즘 피곤해서 피부가 안...
17998  17998  일상대화  트럼프가 왜 난리지?\n트럼프 ?\n트럼프 무슨 짓 한 건데\n트럼프 그만두지 않았...
17999  17999  일상대화  아 진짜 가을만 되면 왜 이렇게 옆구리가 시리냐 키키\n연애를 안 해서 그런 거지 ...

[18000 rows x 3 columns]

###  이름 설정 바꾸길 바람

In [6]:
df.to_csv("train_kakao_1.csv", mode='w', index=False)

In [20]:
ls

 gal.ipynb           __MACOSX/           train_ori.zip
 kakao-Copy1.ipynb   train_kakao_1.csv  'TS_01. KAKAO(1)csv'/
 kakao.ipynb         train_ori/          Untitled.ipynb

###  확인 과정

In [9]:
pd.read_csv("train_kakao_1.csv")

         idx class                                       conversation
0          0  일상대화  핸드폰 앱 중에 제일 자주 사용하는 게 뭐야? sn s빼고\n나 요즘 당근마켓을 제...
1          1  일상대화  겨울에 눈 오는 거 좋아해?\n눈 오는 거 이쁘고 좋지 키키 춥지만\n근데 너무 오...
2          2  일상대화  언니는 여행 다니는 거 좋아해?\n엄청 좋아해 특히 즉흥 여행!\n헐?! 즉흥 여행...
3          3  일상대화  나도 다시 다이어트를 시작해볼까~ 요즘 너무 먹네\n너 살 많이 빠졌던데 더 빼려고...
4          4  일상대화  키키 우리 그러면 귀여워지기 위해 등산 가장 하하\n등산을 하면 더러워지는 것밖에 ...
...      ...   ...                                                ...
17995  17995  일상대화  너네는 해리포터 영화로 다 봤어?\n어어! 당연히 봤지!\n난 아즈카반의 죄수 넘 ...
17996  17996  일상대화  10월 1일이 국군의 날이었대 키키\n10월 1일 국군의 날 키키\n국군의 날에 국...
17997  17997  일상대화  아 요즘 잠을 좀 많이 잤더니 피부가 좋아졌어\n키키 나는 요즘 피곤해서 피부가 안...
17998  17998  일상대화  트럼프가 왜 난리지?\n트럼프 ?\n트럼프 무슨 짓 한 건데\n트럼프 그만두지 않았...
17999  17999  일상대화  아 진짜 가을만 되면 왜 이렇게 옆구리가 시리냐 키키\n연애를 안 해서 그런 거지 ...

[18000 rows x 3 columns]

In [22]:
df

         idx class                                       conversation
0          0  일상대화  핸드폰 앱 중에 제일 자주 사용하는 게 뭐야? sn s빼고\n나 요즘 당근마켓을 제...
1          1  일상대화  겨울에 눈 오는 거 좋아해?\n눈 오는 거 이쁘고 좋지 키키 춥지만\n근데 너무 오...
2          2  일상대화  언니는 여행 다니는 거 좋아해?\n엄청 좋아해 특히 즉흥 여행!\n헐?! 즉흥 여행...
3          3  일상대화  나도 다시 다이어트를 시작해볼까~ 요즘 너무 먹네\n너 살 많이 빠졌던데 더 빼려고...
4          4  일상대화  키키 우리 그러면 귀여워지기 위해 등산 가장 하하\n등산을 하면 더러워지는 것밖에 ...
...      ...   ...                                                ...
17995  17995  일상대화  너네는 해리포터 영화로 다 봤어?\n어어! 당연히 봤지!\n난 아즈카반의 죄수 넘 ...
17996  17996  일상대화  10월 1일이 국군의 날이었대 키키\n알지\n10월 1일 국군의 날 키키\n국군의 ...
17997  17997  일상대화  아 요즘 잠을 좀 많이 잤더니 피부가 좋아졌어\n키키 나는 요즘 피곤해서 피부가 안...
17998  17998  일상대화  트럼프가 왜 난리지?\n트럼프 ?\n트럼프 무슨 짓 한 건데\n트럼프 그만두지 않았...
17999  17999  일상대화  아 진짜 가을만 되면 왜 이렇게 옆구리가 시리냐 키키\n연애를 안 해서 그런 거지 ...

[18000 rows x 3 columns]