In [1]:
name = '하루'

def say_name():
    print(name)
    
say_name()


name = '나츠'

say_name()

하루
나츠

In [9]:
name = '아키' #global scope

def change_name():
    name = '후유' #local scope
    print("함수 내의 print 값은 : {}".format(name))
    
change_name()
print("변경된 이름은 : {}".format(change_name()))

print(name)

함수 내의 print 값은 : 후유
함수 내의 print 값은 : 후유
변경된 이름은 : None
아키

In [13]:
name = '아키' #global scope

def change_name(name):
    name = '후유' #local scope
#     print("함수 내의 print 값은 : {}".format(name))
    
change_name("나츠키")
# print("변경된 이름은 : {}".format(change_name()))

print(name)

아키

In [14]:
name = '아키' #global scope

def change_name(name):
    print(name)
    
change_name("나츠키")

print(name)

나츠키
아키

In [17]:
def say_hi_default(name = 'somebody'):
    print("안녕, {} ?!".format(name))
    
say_hi_default()
say_hi_default('아키라')
say_hi_default(name = "하루카")

안녕, somebody ?!
안녕, 아키라 ?!
안녕, 하루카 ?!

In [18]:
def say_hi_couple_default(name1 = 'nobody', name2):
    print("미즈","히")

SyntaxError: non-default argument follows default argument (2111757738.py, line 1)

In [22]:
def say_hi_couple_default(name1, name2):
    print(name1, name2)
    
say_hi_couple_default("미즈", "히")

미즈 히

In [26]:
def say_hi_couple_default(name1 = 'nobody', name2 = 'sombody'):
    print(name1, name2)
    
say_hi_couple_default("미즈")

미즈 sombody

In [27]:
def say_hi_couple_default(name1 = 'nobody', name2 = 'sombody'):
    print(name1, name2)
    
say_hi_couple_default(name2 = "하잇", name1 = "사이")

사이 하잇

def print_two , def print_return 정의 시작.

print_two() 호출

그 내부에서
def print_return의 CC, DD 호출

def print_return안에서 
print_two(DD, CC)가

def print_two로 가서
차례대로
DD
CC
출력

남은 AA, pirnt_return(BB)
word 1 = AA
word 3 = BB

그래서

DD
CC
AA
BB

?!

In [33]:
def print_two(word1, word2): #3
    print(word1)
    print(word2)
    
def print_return(word3, word4, word5):
    print_two(word5, word4) #1
    return word3 #4

print_two('AA', print_return("BB", "CC", "DD")) #2

DD
CC
AA
BB

 print_and_return('B', 'C', 'D')이 호출
 
 print_and_return('B', 'C', 'D')이 호출되면서
 
 이 함수 안에 있는 함수 print_two(word3, word2)이 호출
 
 D와 C가 출력
 
 그 후 print_two('A', print_and_return('B', 'C', 'D'))이 호출
 
 print('A')과 print(print_and_return('B', 'C', 'D'))이 실행
 
 print('A')에서는 A
 
 print(print_and_return('B', 'C', 'D'))에서는 return 값인 B가 출력
 
 D C A B

# 흐름을 제어하는 제어문 control

In [36]:
def print_whether_positive_or_negative_or_zero(number):
    if number > 0:
        print('+')
    elif number == 0: # is !=  ==
        print('0')
    else:
        print('-')
#- 숫자가 양수이면 +를, 음수이면 -를, 양수도 음수도 아닌 0일 경우 그대로 0을 출력합니다.

print_whether_positive_or_negative_or_zero(1)
print_whether_positive_or_negative_or_zero(0)
print_whether_positive_or_negative_or_zero(-1)

+
0
-

In [38]:
def p_if(num):
    if num > 0 and num % 2 == 0:
        print("positive and even : {}".format(num))
        
    elif num < 0  or num % 2 == 1:
        print("negative or odd : {}".format(num))
    else:
        print("0 입니다.")
        
p_if(1)
p_if(0)
p_if(-1)
p_if(123)
p_if(246)
p_if(-987)
p_if(-543)

negative or odd : 1
0 입니다.
negative or odd : -1
negative or odd : 123
positive and even : 246
negative or odd : -987
negative or odd : -543

fibonacci

In [40]:
def fibonacci(n):
    if n <= 2:
        return 1
    else:
        return fibonacci(n - 2) + fibonacci(n - 1)
    
n = 1
while n <= 10:
    print(fibonacci(n))
    n = n + 1 
print('--end--')

1
1
2
3
5
8
13
21
34
55
--end--

### for
iterate 하나씩 순서대로 넘길 수 있다
iterable 하니씩 순서대로 넘길 수 있는 값들을 반복 가능한 것

In [49]:
c = "hi"
print('h' + 'i' == c)

True

In [48]:
a = "hello, my dears"

for iterable in a:
    print(iterable)
    
b = []    
    
for iterable in a:
    if type(a) is str:
        b += iterable
print(b)

h
e
l
l
o
,

m
y

d
e
a
r
s
['h', 'e', 'l', 'l', 'o', ',', ' ', 'm', 'y', ' ', 'd', 'e', 'a', 'r', 's']

### 구구단

In [66]:
#for w in range(1, 10):
for i in range(0, 150 + 1, 15):
    print("15단 : {}".format(i))

15단 : 0
15단 : 15
15단 : 30
15단 : 45
15단 : 60
15단 : 75
15단 : 90
15단 : 105
15단 : 120
15단 : 135
15단 : 150

In [87]:
x = int(input("구구단, 몇 단으로 하실꺼?(정수만 입력!) : "))
for y in range(1, 10 + 1):
    print("{} * {} = ".format(x, y), x * y)

구구단, 몇 단으로 하실꺼?(정수만 입력!) : 15
15 * 1 =  15
15 * 2 =  30
15 * 3 =  45
15 * 4 =  60
15 * 5 =  75
15 * 6 =  90
15 * 7 =  105
15 * 8 =  120
15 * 9 =  135
15 * 10 =  150

In [88]:
for x in range(2, 5 + 1):
    for y in range(1, 10 + 1):
        print("{} * {} = ".format(x, y), x * y)
        if y == 10:
            print()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18
2 * 10 =  20

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40

5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50