In [1]:
!mkdir -p ~/aiffel/data_analysis_basic/data
!ln -s ~/data/* ~/aiffel/data_analysis_basic/data

ln: failed to create symbolic link '/aiffel/aiffel/data_analysis_basic/data/customer_for_cluster.csv': File exists

In [2]:
# Pandas, Numpy, Matplotlib, Seaborn을 호출
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('default')
import seaborn as sns

In [3]:
# sales_data, customer_data 변수를 만들고 각 데이터 값을 할당
sal_d = pd.read_csv('~/aiffel/data_analysis_basic/data/sales_7.csv')
cus_d = pd.read_csv('~/aiffel/data_analysis_basic/data/customer_7.csv')

In [4]:
# customer_data의 head 값 확인하기
cus_d.head()

,Customer_ID,Name,Nickname,Password,Email,Birth,Gender,C.P.,MobileCompany,OS
0,facilis140,이영순,quos,********,coejongsu@yu.kr,1989-03-11,female,01x9-4x625-x5x3x,LGU,iOS
1,debitis994,김중수,molestiae,********,jiweon02@ju.org,1995-11-19,male,01x9-3x228-x3x9x,KT,iOS
2,possimus246,양은경,rem,********,coesubin@jusighoesa.com,2005-12-24,female,01x9-7x873-x2x2x,LGU,Android
3,occaecati138,백도윤,libero,********,yeongceol80@gangryu.kr,2003-02-09,female,01x9-3x519-x7x1x,SKT,iOS
4,corrupti325,김영수,temporibus,********,jiweon96@yu.net,2004-05-04,male,01x9-0x079-x9x2x,LGU,Android

In [5]:
cus_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99845 entries, 0 to 99844
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer_ID    99845 non-null  object
 1   Name           99845 non-null  object
 2   Nickname       99845 non-null  object
 3   Password       99845 non-null  object
 4   Email          99845 non-null  object
 5   Birth          99845 non-null  object
 6   Gender         99845 non-null  object
 7   C.P.           99845 non-null  object
 8   MobileCompany  99845 non-null  object
 9   OS             99845 non-null  object
dtypes: object(10)
memory usage: 7.6+ MB

In [7]:
# sales_data와 customer_data를 Customer_ID열을 기준으로 합치고 customer_03 변수에 할당
customer_03 = pd.merㅎe(sales_data, customer_data, on="Customer_ID")
customer_03.head()

AttributeError: module 'pandas' has no attribute 'merᄒe'

In [ ]:
pd.groupby()